*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, .container, .scroller {
	height: 100%;
}

.scroller {
	overflow-y: scroll;
}

.scroller,
.scroller-inner {
	position: relative;
}

body.disabled{ overflow:hidden;}

.menu-trigger {
    position: relative;
    padding-left: 0px;
    font-size: 0.9em;
    text-indent: -9999px;
    display: inline-block;
}

/*.menu-trigger:before {
	position: absolute;
	top: 2px;
	left: 0;
	width: 40px;
	height: 6px;
	background: #fff;
	box-shadow: 0 6px #34495e, 0 12px #fff, 0 18px #34495e, 0 24px #fff;
	content: '';
}*/

.mp-pusher {
	position: fixed;
	z-index:9999;
	left: 0;
	height: 100%;
	top:0;
}

.mp-menu {
	position: absolute; /* we can't use fixed here :( */
	top: 0;
	left: 0;
	z-index: 1;
	width: 300px;
	height: 100%;
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.mp-level {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #4a4a4a;
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}


/* overlays for pusher and for level that gets covered */
.mp-pusher::after,
.mp-level::after,
.mp-level::before {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	content: '';
	opacity: 0;
}

.mp-pusher::after,
.mp-level::after {
	background: rgba(0,0,0,0.3);
	-webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	-moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

.mp-level::after {
	z-index: -1;
}

.mp-pusher.mp-pushed::after,
.mp-level.mp-level-overlay::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.mp-level.mp-level-overlay {
	cursor: pointer;
}

.mp-level.mp-level-overlay.mp-level::before {
	width: 100%;
	height: 100%;
	background: transparent;
	opacity: 1;
}

.mp-pusher,
.mp-level {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}


/* overlap */
.mp-overlap .mp-level.mp-level-open {
	box-shadow: 1px 0 2px rgba(0,0,0,0.2);
	-webkit-transform: translate3d(-40px, 0, 0);
	-moz-transform: translate3d(-40px, 0, 0);
	transform: translate3d(-40px, 0, 0);
}

/* First level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
	box-shadow: none;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* cover */
.mp-cover .mp-level.mp-level-open {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

}

.mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

/* content style */
.mp-menu ul {
clear: both;
    float: left;
    height: 98%;
    overflow: auto;
    width: 100%;
}

.mp-menu h2 {
	margin: 0 0 0 0px;
	padding:4px 1em 4px 20px;
	color:#fff;
	font-weight: 300;
	font-size: 1em;
}

.mp-menu.mp-overlap h2::before {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 8px;
	font-size: 75%;
	line-height: 1.8;
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.1s 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.1s 0.3s;
	transition: opacity 0.3s, transform 0.1s 0.3s;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	transform: translateX(-100%);
}

.mp-menu.mp-cover h2 {
 background: #353535 none repeat scroll 0 0;
    font-size: 0.75em;
    font-weight: 400;
    height: 22px;
    letter-spacing: 1px;
    padding-left: 14px;
    text-transform: none;
}

.mp-overlap .mp-level.mp-level-overlay > h2::before {
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	transform: translateX(0);
}

.mp-menu ul li > a {
 color: #fff;
    display: block;
    font-size: 0.75em;
    margin: 0 8px;
    outline: medium none;
    padding: 12px 5px;
    text-decoration: none;
	border-bottom:1px solid #232323;
}

.mp-menu ul li::before {
	position: absolute;
	left: 10px;
	z-index: -1;
	color: rgba(0,0,0,0.2);
	line-height: 3.5;
}

.mp-level > ul > li:first-child > a {
/*	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
*/}

.mp-menu ul li a:hover,
.mp-level > ul > li:first-child > a:hover {
/*	box-shadow: inset 0 -1px rgba(0,0,0,0);*/
}

.mp-menu .mp-level.mp-level-overlay > ul > li > a,
.mp-level.mp-level-overlay > ul > li:first-child > a {
/*	box-shadow: inset 0 -1px rgba(0,0,0,0);*/
}

.mp-level > ul > li:first-child > a:hover,
.mp-level.mp-level-overlay > ul > li:first-child > a {
	/* box-shadow: inset 0 -1px rgba(0,0,0,0), inset 0 1px rgba(0,0,0,0);*/
} /*seems like Chrome 34.0.1847.131 needs the second shadow otherwise the transition breaks */

.mp-back {
background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    box-shadow: 0 1px rgba(0, 0, 0, 0.1) inset;
    color: #fff;
    display: block;
    font-size: 0.75em;
    font-weight: 400;
    height: 54px;
    letter-spacing: 1px;
    line-height: 1.8;
    outline: medium none;
    padding: 18px 0 1.2em 25px;
    position: relative;
    text-decoration: none;
    transition: background 0.3s ease 0s;
}

.mp-back::after {
	font-family: 'linecons';
	position: absolute;
	content: "";
	right: 10px;
	font-size: 1.3em;
	color: rgba(0,0,0,0.3);
}

body .mp-back::before {
background: rgba(0, 0, 0, 0) url("../images/icons/parent-menu.png") no-repeat scroll 0px 30%;
    content: "";
    height: 33px;
    left: 14px;
    position: absolute;
    width: 27px;
}
.mp-menu .mp-level.mp-level-overlay > .mp-back,
.mp-menu .mp-level.mp-level-overlay > .mp-back::after {
	background: transparent;
	box-shadow: none;
	color: transparent;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
.no-csstransforms3d .mp-pusher,
.no-js .mp-pusher {
	padding-left: 300px;
}

.no-csstransforms3d .mp-menu .mp-level,
.no-js .mp-menu .mp-level {
	display: none;
}

.no-csstransforms3d .mp-menu > .mp-level,
.no-js .mp-menu > .mp-level {
	display: block;
}
.mp-level-overlay .mp-level-open{ height:100%;}
.mp-menu ul{ clear:both; float:left;width:100%; height:98%; overflow:auto;}
.mp-menu ul li ul, .mp-menu ul li ul li ul {  height:77%;}
.mp-level.mp-level-open{ height:100%; }
.mp-menu ul li > .mp-level-open, .mp-menu ul li > .mp-level{ margin-top:0px;}
.mp-menu ul li li > .mp-level-open, .mp-menu ul li li > .mp-level{ margin-top:0px;}
body .mp-menu h2 a {
    color: #fff;
	text-decoration:none;
}


